html,
body {
    background-color: #333842;
}

/* 禁止复制 */
.nocopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.n-collapse-item__header {
    padding: 0 !important;
}

.n-collapse-item__content-inner {
    padding: 0 20px !important;
}

.n-collapse-item {
    margin: 4px !important;
}

.n-tabs-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}